.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.2em;
    margin-bottom: 2em;
    background-color: rgb(255, 191, 252);
    color: #333;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        margin-left: .5em;
    }
}

.link_itens {
    display: flex;
    list-style: none;

    li {
        margin: 1.3em;
    }

    a {
        color: #333;
        text-decoration: none;
        padding: 5px;
        transition: .4s;
        border-bottom: 2px solid transparent;
    }

    &:hover {
        border-color: #333;
    }
}

.link_a {
    color: #333;
    text-decoration: none;
    padding: 5px;
    transition: .4s;
    border-bottom: 2px solid transparent;

    &:hover {
        border-color: #333;
    }
}